body {
    
 color: #000;   
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}


/*---- Set up site grid ----*/

.wrapper{
 display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer" 
}
header {
    
    grid-area: header;
}
nav {
    
    grid-area: nav;
}

main {
    
    grid-area: main;
}
aside {
    
    grid-area: aside;
}
footer {
    
    grid-area: footer;
}

/*---- General formatting ----*/

.box {
    
    padding: 20px;
    border-radius: 10px;
    background-color: #ddd;
   
}

h1,h2,h3 {
    
    font-family: 'Montserrat', sans-serif;
}
h1{
    
    font-size: 200%;
}